@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Mada&family=Montserrat&family=Roboto&family=Rubik&display=swap');

*{
    padding: 0px;
    margin: 0px;
    background: #360369;
    color: white;
}

.landing-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 7rem;
    font-weight: 700;
    margin-top: 30vh;
}

.btn{
    background-color: white;
    color: #000;
    text-decoration: none;
    padding: 8px 200px;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: 300;
    margin-top:5rem ;
}

@media screen and (max-width: 850px){
    .btn{
        font-size: 1.5rem;
        padding: 7px 150px;
        
    }
    h1{
        font-size: 5rem;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 520px){
    .btn{
        font-size: 1rem;
        padding: 7px 100px;
        
    }
    h1{
        font-size: 3rem;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 360px){
    .btn{
        font-size: 1rem;
        padding: 7px 50px;
        margin-left: 15vw;
    }
    h1{
        font-size: 4rem;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 230px){
    .btn{
        font-size: 1rem;
        padding: 6px 30px;
        margin-left: 10vw;
    }
    h1{
        font-size: 2.5rem;
        margin-bottom: 20px;
    }
}